<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>

    <head th:insert="~{index :: navbar}"></head>

    <div th:if="${successMessage}" class="alert alert-success">
        <p th:text="${successMessage}"></p>
    </div>

    <div class="container min-vh-100">
        <div class="row">
            <div class="col-12 my-5 d-flex justify-content-center align-items-center">
                <span class="h1">Dashboard Admin</span>
            </div>

            <div class="col-12 my-5 d-flex justify-content-center align-items-center">
                <span class="h1" th:text="${title}">Richieste ricevute</span>
            </div>

            <div class="col-12">
                <table class="table table-striped table-responsive-lg">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Utente</th>
                            <th>Per il ruolo</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="request : ${requests}">
                            <td th:text="${request.id}"></td>
                            <td th:text="${request.user.username}"></td>
                            <td th:text="${request.role.name}"></td>
                            <td>
                                <a th:href="@{/operations/career/request/detail/{id}(id=${request.id})}"
                                    class="btn btn-primary m-2">
                                    <i class="fa-solid fa-bars"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-12 my-5 d-flex justify-content-center align-items-center">
                <span class="h1">Tutte le categorie</span>
                <a th:href="@{/categories/create}" class="btn btn-primary m-2">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>

            <div class="col-12">
                <table class="table table-striped table-responsive-lg">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="category : ${categories}">
                            <td th:text="${category.id}"></td>
                            <td th:text="${category.name}"></td>
                            <td class="text-end">
                                <a th:href="@{/categories/edit/{id}(id=${category.id})}" class="btn btn-warning m-2">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                                <a th:href="@{/categories/delete/{id}(id=${category.id})}" class="btn btn-danger m-2">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <head th:insert="~{index :: footer}"></head>
    <script th:replace="~{index :: bootstrapScript}"></script>

</body>

</html>