<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>

    <head th:insert="~{index :: navbar}"></head>

    <div class="vh-100">
        <div class="container-fluid p-5 bg-secondary-subtle text-center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <span class="h1">Richiesta</span>
                </div>
            </div>
        </div>

        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 d-flex flex-column">
                    <div class="text-center">
                        <h2 th:text="${request.user.username}">Nome utente</h2>
                    </div>
                </div>
                <hr>
                <div class="col-12 col-md-8 d-flex flex-column align-items-center">
                    <div>
                        <p th:text="${request.body}">Body</p>
                    </div>

                    <div class="d-flex">
                        <form th:action="@{/operations/career/request/accept/{id}(id=${request.id})}" method="post">
                            <button type="submit" class="btn btn-primary m-2">
                                Accetta
                            </button>
                        </form>
                        <a th:href="@{/admin/dashboard}" class="btn btn-primary m-2">
                            Torna indietro
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <head th:insert="~{index :: footer}"></head>
    <script th:replace="~{index :: bootstrapScript}"></script>

</body>

</html>