<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>

    <!-- rotta di navbar -->
    <div th:insert="~{index :: navbar}"></div>

    <div class="class-vh-100">
        <div class="container my-5">
            <div class="row">

                <!-- titolo vista crea -->
                <div class="col-12 my-3 d-flex justify-content-between align-items-center">
                    <ol class="d-flex justify-content-center align-items-center flex-grow-1">
                        <h1 th:text="${title}">Inserisci un articolo</h1>
                    </ol>
                </div>

                <!-- form gestione creazione articolo -->
                <div class="col-12 my-5">
                    <form th:action="@{/articles}" method="POST" th:object="${article}" enctype="multipart/form-data">

                        <div class="row mb-3">
                            <div class="col">
                                <label th:for="title" class="form-label">Titolo</label>
                                <input id="title" type="text" class="form-control" th:field="*{title}"
                                    placeholder="Inserisci un articolo..." />
                                <p th:errors="*{title}" class="text-danger" th:if="${#fields.hasErrors('title')}"></p>
                            </div>
                            <div class="col">
                                <label th:for="subtitle" class="form-label">Sottotitolo</label>
                                <input id="subtitle" type="text" class="form-control" th:field="*{subtitle}"
                                    placeholder="Inserisci un sottotitolo..." />
                                <p th:errors="*{subtitle}" class="text-danger" th:if="${#fields.hasErrors('subtitle')}">
                                </p>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label th:for="body" class="form-label">Articolo</label>
                            <input id="body" type="text" class="form-control" th:field="*{body}"
                                placeholder="Inserisci un testo..." />
                            <p th:errors="*{body}" class="text-danger" th:if="${#fields.hasErrors('body')}"></p>
                        </div>

                        <div class="mb-3">
                            <label th:for="date" class="form-label">Publish date (8 chars)</label>
                            <input id="date" type="date" class="form-control" th:field="*{publishDate}"
                                placeholder="yyyy-mm-dd" />
                            <p th:errors="*{publishDate}" class="text-danger"
                                th:if="${#fields.hasErrors('publishDate')}"></p>
                        </div>

                        <div class="mb-3">
                            <label th:for="category" class="form-label">Category</label>
                            <select id="category" th:field="*{category}" class="form-select">
                                <option th:each="category : ${categories}" th:value="${category.id}"
                                    th:text="${category.name}"></option>
                            </select>
                            <p th:errors="*{category}" class="text-danger" th:if="${#fields.hasErrors('category')}"></p>
                        </div>

                        <div class="mb-3">
                            <label th:for="image" class="form-label">Image</label>
                            <input type="file" name="file" id="image" class="form-control" />
                        </div>

                        <button type="submit" class="btn btn-success">Crea articolo</button>

                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- rotta di footer -->
    <div th:insert="~{index :: footer}"></div>
    <script th:replace="~{index :: bootstrapScript}"></script>

</body>

</html>