<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>

    <div th:insert="~{index :: navbar}"></div>

    <div th:if="${param.notAuthorized}">
        <div class="alert alert-danger">
            Not authorized!
        </div>
    </div>

    <!-- Blocco per mostrare il messaggio di avvenuta registrazione -->
    <div th:if="${successMessage}" class="alert alert-success">
        <p th:text="${successMessage}"></p>
    </div>

    <div class="container-fluid">
        <div class="row min-vh-100 align-items-center">
            <div class="col-10">
                <h1 class="mb-5">Welcome to <span class="display-4 fw-bold d-block">New Aulab Chronicle</span></h1>
            </div>
        </div>
    </div>

    <div th:insert="~{index :: footer}"></div>
    <script th:replace="~{index :: bootstrapScript}"></script>

</body>

</html>