<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
    <!-- css custom -->
     <link rel="stylesheet" th:href="@{/css/style.css}">

    
    <title>Aulab Chronicle</title>
</head>

<body>

    <!-- Inizio NAVBAR -->

    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Aulab Chronicle</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- rotta link creazione articolo visibile solo a utenti loggati -->
                    <li sec:authorize="isAuthenticated && hasRole('ROLE_WRITER')" class="nav-item">
                        <a class="nav-link" th:href="@{/articles/create}">Crea articolo</a>
                    </li>
                    <!-- Link per visualizzare l'indice di tutti gli articoli -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/articles}">Tutti gli articoli</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <div class="d-flex">
                            <a class="nav-link" th:href="@{/admin/dashboard}">Dashboard admin</a>
                            <span th:if="${careerRequests > 0}"
                                class="badge rounded-pill bg-danger d-flex align-items-center justify-content-center"
                                th:text="${careerRequests}"></span>
                        </div>
                    </li>
                    <!-- Dashboard Revisore visibile solo a chi ha ROLE_REVISOR -->
                    <li class="nav-item" sec:authorize="hasRole('ROLE_REVISOR')">
                        <div class="d-flex">
                            <a class="nav-link" th:href="@{/revisor/dashboard}">Dashboard revisor</a>
                            <div class="mt-1" th:if="${articlesToBeRevised > 0}">
                                <i class="fas fa-bell fa-l pt-2"></i>
                                <span class="badge rounded-pill bg-danger text-white px-1"
                                    th:text="${articlesToBeRevised}"></span>
                            </div>
                        </div>
                    </li>

                    <!-- Dashbosrd Writer visibile solo a chi ha ROLE_WRETER  -->

                    <li class="nav-item" sec:authorize="hasRole('ROLE_WRITER')">
                        <a class="nav-link" href="/writer/dashboard">Dashboard writer</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Accesso
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li sec:authorize="isAnonymous()"><a class="dropdown-item" aria-current="page"
                                    th:href="@{/register}">Register</a></li>
                            <li sec:authorize="isAnonymous()"><a class="dropdown-item" aria-current="page"
                                    th:href="@{/login}">Login</a></li>
                            <li sec:authorize="isAuthenticated()"><a class="dropdown-item" aria-current="page"
                                    th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <div sec:authorize="isAuthenticated()"
                    th:text="'Benvenuto: ' + ${#authentication.principal.fullname} + ' - ' + ${#authentication.principal.authorities[0].authority.replace('ROLE_', '')}"
                    class="me-2">
                    Benvenuto</div>
            </div>
        </div>

        <!-- FORM per ricerca -->
        <form class="d-flex" th:action="@{/articles/search}" method="get">
            <input class="form-control me-2" type="search" placeholder="Articolo/categorie" name="keyword"
                aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

    </nav>

    <!-- Fine NAVBAR -->

    <!-- Inizio FOOTER -->

    <footer th:fragment="footer" class="bg-dark text-white pt-4">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Company Info -->
                <div class="col-md-4 mb-3">
                    <a href="/" class="text-white">
                        <h5>Aulab IT</h5>
                    </a>
                </div>
                <!-- Contact Info -->
                <div class="col-md-4 mb-3 text-end">
                    <h5>Lavora con noi</h5>
                    <a th:href="@{/operations/career/request}" class="btn btn-primary">Richiedi</a>
                </div>
            </div>
        </div>
        <div class="bg-secondary text-center py-2">
            <p class="mb-0">© 2026 Aulab Post. All rights reserved.</p>
        </div>
    </footer>

    <!-- Fine FOOTER -->

</body>

<script th:fragment="bootstrapScript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</html>